<mat-toolbar style="background-color:black;">
    <mat-toolbar-row>
      <!-- <p><button mat-button style="color: white;">Book</button></p> -->
      <span style="font-size:25px;cursor:pointer;color: white;" (click)="openNav()">&#9776; Book Ride</span>
      <!-- <img style="margin-left: 2%;" alt="Nagarro Logo" width="160" src="./../../assets/logo2.png" /> -->
      <span class="spacer"></span>
      <div  class="dropdown" mdbDropdown style="margin-left: 83%;margin-right: 3%;">

        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="GetProfile()">Profile</button>
          <button mat-menu-item routerLink="/notify/rides">My Rides</button>
          <button mat-menu-item (click)="LogOut()">LogOut</button>
        </mat-menu>
        
        <div  [matMenuTriggerFor]="appMenu" >
          <img  alt="UserName" width="30" src="./../../assets/userlogo1.png" />
        </div>
    </div> 
    </mat-toolbar-row>
  </mat-toolbar>
<!-- <mat-sidenav-container class="container" style="width: 100%;margin-right: 1px;">
  <mat-sidenav   style="width: 30%; display: flexbox;" > -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn"  (click)="closeNav()">&times;</a>
   <!-- <div style="display: block;z-index: 1000;float:left; flex-direction: column;position: absolute;"class="modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body"> -->
        <mat-card>
        <form [formGroup]="SendNotification" (ngSubmit)="onSendNotification()">
          <mat-form-field class="example-full-width" style="width: 80%;margin-left: 10%;">
            <title>Enter Source</title>
            <input matInput type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"  (onAddressChange)="handleAddressChange($event)" />
          </mat-form-field>
          <mat-form-field class="example-full-width" style="width: 80%;margin-left: 10%;">
            <input matInput type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"  (onAddressChange)="handleDestinationAddressChange($event)" >
          </mat-form-field>
          <button type="submit"  class="btn btn-primary" style="margin-left: 1%;margin-top: 4%; width:100%;" (click)="calculateAndDisplayRoute()">Book</button>
          </form> 
        </mat-card>
      <!-- </div>
    </div>
  </div>
  </div> -->
</div>

<!-- </mat-sidenav> 
</mat-sidenav-container> -->
<div style="margin-top: 1px; display: flexbox;overflow: hidden;" id="map">

      <div id="directions-panel"></div>
    
    <agm-map class="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom"  [mapTypeControl]='true' (mapReady)="onMapLoad($event)"> 
      <agm-direction [origin]="origin" [destination]="destination" > 
       </agm-direction>
      <agm-marker *ngFor="let marker of markers" class="map"  [latitude]="marker.lat" [longitude]="marker.lng"
      [iconUrl]="location"
      [markerDraggable]="false" >
     
        <agm-info-window>
          <strong>marker.lat</strong>
        </agm-info-window>
       </agm-marker> 
    </agm-map>
</div>

    <!-- <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input> -->

    