.spacer {
    flex: 1 1 auto;
  }
.form
{
position: absolute;
top: 11%;
bottom: 0;
min-height: 100%;
background-image: url("./../../bg.jpg");
background-repeat: no-repeat;
height: 89%;
width: 100%;
background-size: cover;
align-items: center;
filter: blur(8px);
-webkit-filter: blur(8px);
}
.card
{
    z-index: 2;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    color: white;
}
  .login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-flex-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  strong
  {
   color: black;
  }
  .nav-item
  {
    width: 50%;
  }
  form
  {
    text-align: center;
    width: 70%;
    margin-left: 15%;
  }

  ::ng-deep .mat-tab-label .mat-tab-label-content {
    height: 50px;
    color: white;
    font: 20px sans-serif;;
    
    } 
    ::ng-deep .mat-tab-header
    {
      background-color: rgb(43, 1, 1);
      height: 65px;
    }