<div>
<mat-toolbar style="background-color:black;">
    <mat-toolbar-row>
        <img style="margin-left: 2%;" alt="Nagarro Logo" width="160" src="./../../assets/logo2.png" />

      <span class="spacer"></span>
      <a mat-button routerLink="/login" style="color: white;">Contact Us</a>
        </mat-toolbar-row>
</mat-toolbar>
</div>
<div class="form"> </div>
<div class="card" style="width: 40%;margin-top: 3%; margin-left: 30%;">

  <mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Login">
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" >
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Email" formControlName="Email" >
          </mat-form-field>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" formControlName="Password" >
          </mat-form-field>
            <button class="btn btn-danger btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
        </form>
      </mat-tab>
        <mat-tab label="SignUp" >
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" placeholder="Enter Name" formControlName="FullName" >
          </mat-form-field>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Email" formControlName="Email" >
          </mat-form-field>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" placeholder="Enter Phone Number" formControlName="PhoneNumber" >
          </mat-form-field>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" formControlName="Password" >
          </mat-form-field>
          <button class="btn btn-danger btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
      </form>
    </mat-tab>
  </mat-tab-group>
      </div>

