<!-- 

<div class="row">
  <mat-sidenav-container style="width:100%;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div style="margin-left:2%">
          <img alt="Camp Logo" width="150" src="assets/icon.jpg" />
        </div>
        <div class="input-group" style="width:25%; margin-left:25%">
          <input #search type="text" class="form-control"  id="searchi" gm-places-autocomplete ng-model="autocomplete" placeholder="Enter Place" (input)="onChange(search.value)">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" onclick="showLocation()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div style="margin-left:30%">
          <button type="button" class="btn btn-primary" (click)="show()">Login</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-container>
  </div>
  <div class="row">
  <div class="col" style="width: 70%;"> 
    <mat-sidenav-container style="width:113%;height:100%;">
      <h3 style="text-align:center">
        Cab Booking
      </h3>
      <hr />
      <label style="margin-left: 1%;" for="startdate">Pickup Place:</label>
      <br>
      <input style="margin-left: 1%;"  #search type="text" class="form-control"  id="searchi" gm-places-autocomplete ng-model="autocomplete" placeholder="Enter Place" (input)="onChange(search.value)">
     
      <hr />
      <label style="margin-left: 1%; text-align: center;"  for="enddate">Destination:</label>
      <hr />
      <input style="margin-left: 1%;"  #search type="text" class="form-control"  id="searchi" gm-places-autocomplete ng-model="autocomplete" placeholder="Enter Place" (input)="onChange(search.value)">
      <hr/>
      <button style="margin-left: 23%;" type="button" class="btn btn-primary" (click)="show()">BookCab</button>

    </mat-sidenav-container> 
   </div>
   <div class="col" style="width: 64%;"> 
  <div style="margin-top: 1px; width: 1030px;" id="map" ng-app="myApp" ng-controller="myCtrl">
  <agm-map class="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom"> 
    <agm-marker class="map" [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
     </agm-marker> 
  </agm-map>
</div>
   </div>

  
  <div class="col">
    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="transition: all .5s ease-in-out;">
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>

          </div>
     </div>
    </div>
  </div>
  </div>

</div> -->
<router-outlet></router-outlet>