<mat-toolbar style="background-color:black;">
    <mat-toolbar-row>
      <!-- <p><button mat-button style="color: white;">Book</button></p> -->
      <a style="text-align: center;color:white ;font-size: large; margin-left: 4%;cursor: pointer;" (click)="backClicked()">Back</a>

      <!-- <img style="margin-left: 2%;" alt="Nagarro Logo" width="160" src="./../../assets/logo2.png" /> -->
      <span class="spacer"></span>
      <div  class="dropdown" mdbDropdown style="margin-left: 88%;margin-right: 3%;">

        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="GetProfile()">Profile</button>
          <button mat-menu-item routerLink="/notify/rides">My Rides</button>
          <button mat-menu-item (click)="LogOut()">LogOut</button>
        </mat-menu>
        
        <div  [matMenuTriggerFor]="appMenu">
          <img  alt="UserName" width="30" src="./../../assets/userlogo1.png" />
        </div>
    </div> 
    </mat-toolbar-row>
  </mat-toolbar> 
 
 <div class="col" style="width:100%;margin-right:10%;margin-left:0%;align-items:flex-start">
 
    <ul style="width:70%;margin-top:4%;margin-left:15%;align-items:flex-start;display:grid">
     <!-- <li class="list-group-item"  > 
       -->
       <!-- <button mat-raised-button style="cursor: pointer;width: 90%;margin-top: 3%;margin-left: 6%;" > -->
         <mat-expansion-panel  *ngFor="let i=index;let item of RideInformation | paginate:{itemsPerPage: 6, currentPage:p}" style="margin-top: 2%;">
           <mat-expansion-panel-header>
             <mat-panel-title>
               <h6>{{item.RideType}}</h6>
             </mat-panel-title>
           </mat-expansion-panel-header>
         <hr />
           <p style="display: flexbox;">
             {{item.description}}  
         </p> 
         </mat-expansion-panel>
         
   </ul> 
   <pagination-controls (pageChange)="p=$event"></pagination-controls>
 </div> 